.main-navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  @media #{$mobile-only} {
    display: none;
  }

  @media #{$desktop-only} {
    gap: 20px;
  }
}

.main-navigation--opened {
  .main-navigation__list {
    display: grid;
    grid-template-columns: 1fr;

    @media #{$mobile-only} {
      position: absolute;
      margin: 0;
      width: 100%;
      left: calc(-1 * var(--content-indent));
      top: 60px;
      background: #ffffff;
      z-index: 3;
    }
  }
}

.main-navigation__item {
  text-transform: uppercase;


  @media #{$mobile-only} {
    border-top: 1px solid #F0EBFF;

    &:last-child {
      border-bottom: 1px solid #F0EBFF;
    }
  }
}

.main-navigation__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  color: #333333;
  padding: 20px 0 21px 0;

  @media #{$not-mobile} {
    padding: 32px 20px;
  }
}
